// {
//     "rules": [
//         {
//           "test": /\.vue$/,
//           "loader": 'vue-loader',
//           "options": {
//             // настройки vue-loader
//           }
//         }
//     ]
//   }
{}