@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Furore";
  src: url("./fonts/Furore.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Aaaiight";
  src: url("./fonts/aaaiight.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-color: #0d0d0d;
}

.preloadScreen {
  background-image: url("./imgs/smoke.webp");
}

.disabled {
  display: none;
}

.mobileMenu {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

/* .swiper-button-next {
  width: 48;
  height: 48;
  background: #fff;
  border-radius: 100px;
}

.swiper-button-prev {
  width: 48;
  height: 48;
  background: #fff;
  border-radius: 100px;
} */
